In [ ]:
import pandas as pd

In [ ]:
df1=pd.read_csv(r"/content/songs[27000-30000).csv")
df2=pd.read_csv(r"/content/song[30000-33000].csv")
df3=pd.read_csv(r"/content/song[33000-34808).csv")

In [ ]:
df1.head()

In [ ]:
df1.columns[8:]

Index(['title', 'MFCCs', 'views', 'rating'], dtype='object')

In [ ]:
# Removing the unwanted columns in df1 (The unwanted columns were added during the collection of data)
df1=df1.drop(columns=df1.columns[0:8])
df1.head()

In [ ]:
df2.head()

In [ ]:
# Removing the unwanted columns in df2 (The unwanted columns were added during the collection of data)
df2=df2.drop(columns=df2.columns[0:5])
df2.head()

In [ ]:
df3.head()

In [ ]:
# Removing the unwanted columns in df3 (The unwanted columns were added during the collection of data)
df3=df3.drop(columns=df3.columns[0:3])
df3.head()

In [ ]:
# Combining the three datasets into a single dataset and then resetting the index because different dataframes will contain different indeces.
df_combined=pd.concat([df1,df2,df3]).reset_index()

In [ ]:
# Dropping the index column
df_combined.drop(columns='index',inplace=True)
df_combined

In [ ]:
# Saving the Combined dataset file.
df_combined.to_csv("data_init.csv")

In [ ]:
# Verifying the shape of the combined dataset.
df1.shape,df2.shape,df3.shape,df_combined.shape

((2618, 4), (2533, 4), (1555, 4), (6706, 5))

In [ ]:
# Dropping duplicate columns, if any.
df_combined.drop_duplicates(inplace=True)

In [ ]:
df_combined

                              title  ...    rating
0                       Oak Or Rock  ...  4.200000
1                       Earth Diver  ...  4.947644
2     You Must Welcome The Stranger  ...  5.000000
3             The Melancholic Giant  ...  4.428571
4      The Boiling Fjords Orchestra  ...  5.000000
...                             ...  ...       ...
6701                        Umm Hmm  ...  4.693207
6702                Back In The Day  ...  4.868617
6703                         Danger  ...  4.815370
6704                      Hollywood  ...  4.903123
6705                      The Grind  ...  4.489908

[6681 rows x 4 columns]

In [ ]:
# Loading the original dataset which contains the metadata of all the songs (Note that the combined dataset has the MFCCs, views and other information. Whereas this dataset contains information like genre, 
# timbre, year, loudness etc.)
df_orig=pd.read_csv(r"/content/fd1.csv")

In [ ]:
# Slicing the dataset from the range where the combined dataset starts (i.e., The combined dataset contains songs from index 27000 to 34808).
df_orig=df_orig.iloc[27000:34808,:]
df_orig

       Unnamed: 0                  genre  ...                release  year
27000       27001  dance and electronica  ...            Oak Or Rock  2004
27001       27002  dance and electronica  ...            Oak Or Rock  2004
27002       27003  dance and electronica  ...            Oak Or Rock  2004
27003       27004  dance and electronica  ...            Oak Or Rock  2004
27004       27005  dance and electronica  ...            Oak Or Rock  2004
...           ...                    ...  ...                    ...   ...
34801       34802        soul and reggae  ...  Worldwide Underground  2003
34802       34803        soul and reggae  ...  Worldwide Underground  2000
34803       34804        soul and reggae  ...  Worldwide Underground  2003
34804       34805        soul and reggae  ...  Worldwide Underground  2003
34805       34806        soul and reggae  ...  Worldwide Underground  2003

[7806 rows x 38 columns]

In [ ]:
# Dropping duplicates from the original dataset, if any.
df_combined.drop_duplicates(inplace=True)

In [ ]:
# Merging the original dataset and the combined dataset on the basis of title of the song.
pd_final=pd.merge(df_combined,df_orig,on="title")

In [ ]:
# Having a look on the shape of the merged dataset, original dataset and the combined dataset, we can tell that the rows of the merged dataset lies in between the original and the combined dataset.
# This is so because the original dataset has songs that are being repeated by different users and hence, same song from the combined dataset may repeat more than once in the original dataset. The 
# size of the merged dataset is less than the original dataset because information of few songs were not extracted because of http request being timed out. 
pd_final.shape,df_orig.shape,df_combined.shape

((7396, 41), (7806, 38), (6681, 4))

In [ ]:
pd_final.title

0                         Oak Or Rock
1                         Earth Diver
2       You Must Welcome The Stranger
3               The Melancholic Giant
4        The Boiling Fjords Orchestra
                    ...
7391                          Umm Hmm
7392                  Back In The Day
7393                           Danger
7394                        Hollywood
7395                        The Grind
Name: title, Length: 7396, dtype: object

In [ ]:
# Dropping the unwanted column
pd_final.drop(columns="Unnamed: 0",inplace=True)

In [ ]:
# Checking for null values.
pd_final.isnull().sum().sum()

0

In [ ]:
# Dropping duplicates if any.
pd_final.drop_duplicates().shape

(7396, 40)

In [ ]:
# No need to drop anything

In [ ]:
pd_final

In [ ]:
pd_final.sample(5)

                               title  ...  year
4665                    The Breakout  ...  2001
6697                        The Itch  ...  2007
5301                          Indung  ...  2007
6901                       Herbalist  ...  2009
2202  Destructo Spin (Album Version)  ...  2003

[5 rows x 40 columns]

In [ ]:
# Saving the csv file
pd_final.to_csv("Songs(27k-34k)_final.csv")