In [1]:
import pandas as pd

In [2]:
d12_13=pd.read_csv('songs(12k-13k)-g.csv')
d12_13=d12_13.drop(['Unnamed: 0.1','Unnamed: 0'],axis=1)
d12_13

,title,MFCCs,views,rating
0,The Song Is You (Live),[[-493.30503583 -345.13257466 -282.01311676 .....,67,5.000000
1,Twisted (Live),[[-5.19170230e+02 -5.06639152e+02 -4.96148967e...,259,4.692308
2,Liberation Conversation,[[-586.59431679 -586.59431679 -586.59431679 .....,19790,4.430232
3,The Feeling's Good,[[-526.98196949 -526.98196949 -526.98196949 .....,5971,4.882353
4,Heartache Avenue (Remix),[[-528.15784613 -528.15784613 -528.15784613 .....,1427,5.000000
...,...,...,...,...
824,So Screwed Up,[[-498.92544634 -498.92544634 -498.92544634 .....,49642,4.827751
825,Opening Up,[[-498.92544634 -498.92544634 -498.92544634 .....,49642,4.827751
826,Modern Pests,[[-515.45656397 -515.45656397 -515.45656397 .....,92,4.000000
827,It's Summertime_ Baby,[[-487.62134283 -487.62134283 -487.62134283 .....,2838,4.833334
828,The News Is Always The Same,[[-5.10846943e+02 -5.10846943e+02 -5.10846943e...,105,3.000000

In [3]:
d13_14=pd.read_csv('songs(13-14)-f.csv')

In [4]:
d13_14=d13_14.drop('Unnamed: 0',axis=1)
d13_14

,title,MFCCs,views,rating
0,Make A Wish (LP Version),[[-569.72230199 -569.72230199 -569.72230199 .....,7664,4.757576
1,Gettin' In Over My Head (LP Version),[[-586.89203037 -586.89203037 -586.89203037 .....,2119,5.000000
2,The Waltz (LP Version),[[-5.22717492e+02 -5.22717492e+02 -5.20991180e...,1650,4.932203
3,Saturday Morning In The City (LP Version),[[-565.80642518 -565.80642518 -565.80642518 .....,596,5.000000
4,Love & Mercy,[[-5.57531152e+02 -5.57531152e+02 -5.39327630e...,236907,4.918115
...,...,...,...,...
822,Miss Lou Ring A Ding,[[-5.23065690e+02 -5.22850975e+02 -2.85334564e...,19287,4.973510
823,Dread High Ranking,[[-498.60844535 -498.60844535 -498.60844535 .....,394,5.000000
824,Political Confusion,[[-507.30729071 -507.30729071 -507.30729071 .....,12093,4.955056
825,Streets In Africa,[[-540.22979894 -540.22979894 -540.22979894 .....,3578,5.000000
826,River Boat,[[-494.27668105 -494.27668105 -494.27668105 .....,3880,4.888889

In [5]:
d14_15=pd.read_csv('songs(14k-15k)-f.csv')
d14_15=d14_15.drop(['Unnamed: 0','Unnamed: 0.1','Unnamed: 0.1.1'],axis=1)
d14_15

,title,MFCCs,views,rating
0,The Song Is You (Live),[[-493.30503583 -345.13257466 -282.01311676 .....,67,5.000000
1,Twisted (Live),[[-5.19170230e+02 -5.06639152e+02 -4.96148967e...,259,4.692308
2,Liberation Conversation,[[-586.59431679 -586.59431679 -586.59431679 .....,19790,4.430232
3,The Feeling's Good,[[-526.98196949 -526.98196949 -526.98196949 .....,5971,4.882353
4,Heartache Avenue (Remix),[[-528.15784613 -528.15784613 -528.15784613 .....,1427,5.000000
...,...,...,...,...
1066,The Biggest One (Album Version),[[-490.63059418 -490.63059418 -490.63059418 .....,8680,4.925926
1067,Hello Radio (Album Version),[[-4.89024184e+02 -4.89024184e+02 -4.89024184e...,9041,4.733333
1068,Hey Mr Dj I Thought You Said We Had A Deal (...,[[-602.53988415 -602.53988415 -602.53988415 .....,23353,4.820663
1069,Nightgown Of The Sullen Moon (Album Version),[[-520.03015499 -520.03015499 -520.03015499 .....,42438,4.964072
1070,Code Blue,[[-553.0144207 -553.0144207 -553.0144207 ... -...,841838,4.881512

In [6]:
d1=[d12_13,d13_14,d14_15]
d12_15=pd.concat(d1)
d12_15
d12_15.to_csv('d12_15.csv')

In [7]:
d15_18=pd.read_csv('songs(15k-18k)-f.csv')

In [8]:
d15_18=d15_18.drop(['Unnamed: 0','Unnamed: 0.1','Unnamed: 0.1.1'],axis=1)
d15_18

,title,MFCCs,views,rating
0,The Triangle,[[-558.88117241 -558.88117241 -558.88117241 .....,59704,4.948718
1,The Sounds Of Laughter,[[-573.3326265 -573.3326265 -573.3326265 ... -...,162065,4.916042
2,Abolish Government / Silent Majority,[[-5.50821988e+02 -5.37771369e+02 -4.97886231e...,273470,4.889085
3,In My Head,[[-545.39213905 -545.39213905 -545.39213905 .....,10885,4.947712
4,Dreamer (Album Version),[[-531.52512937 -531.52512937 -531.52512937 .....,14593,4.837838
...,...,...,...,...
2741,Is Anything Wrong,[[-491.99075227 -491.99075227 -491.99075227 .....,589150,4.957269
2742,Anyone and Everyone,[[-516.45614946 -516.45614946 -516.45614946 .....,148502,4.979112
2743,Small Song,[[-512.03655036 -512.03655036 -512.03655036 .....,218694,4.931331
2744,La Confession,[[-483.88921583 -483.88921583 -483.88921583 .....,1078691,4.925395
2745,Con Toda Palabra,[[-505.70808393 -505.70808393 -505.70808393 .....,2225060,4.933313

In [9]:
d15_18.to_csv('d15_18.csv')

In [10]:
d18_19=pd.read_csv('songs(18-19k).csv')
d18_19

,Unnamed: 0,Unnamed: 0.1,title,MFCCs,views,rating
0,0,0.0,Many A Fine Lady,[[-506.86681737 -506.86681737 -506.86681737 .....,3144,4.846154
1,1,1.0,Tower Song,[[-545.25702255 -545.25702255 -545.25702255 .....,98379,4.944445
2,2,2.0,Snake Mountain Blues,[[-574.41479622 -574.41479622 -574.41479622 .....,41815,4.947090
3,3,3.0,Rex's Blues,[[-512.34600195 -424.60266163 -343.86911954 .....,180015,4.885397
4,4,4.0,Ain't Leavin' Your Love,[[-535.73021322 -535.73021322 -535.73021322 .....,6978,5.000000
...,...,...,...,...,...,...
1123,1123,NaN,On The West Cork Hack,[[-575.79289141 -575.79289141 -575.79289141 .....,74,5.000000
1124,1124,NaN,Frosty Mornings,[[-577.03865726 -577.03865726 -577.03865726 .....,7631,5.000000
1125,1125,NaN,Donnybrook Fair,[[-592.59467027 -592.59467027 -592.59467027 .....,12459,4.965218
1126,1126,NaN,Strings In The Earth And Air,[[-629.80582204 -629.80582204 -629.80582204 .....,23061,4.906433
1127,1127,NaN,A Tale Of Two Orphanages,[[-585.59150802 -585.59150802 -585.59150802 .....,5754,4.885714

In [11]:
d18_19=d18_19.drop(['Unnamed: 0','Unnamed: 0.1'],axis=1)
d18_19

,title,MFCCs,views,rating
0,Many A Fine Lady,[[-506.86681737 -506.86681737 -506.86681737 .....,3144,4.846154
1,Tower Song,[[-545.25702255 -545.25702255 -545.25702255 .....,98379,4.944445
2,Snake Mountain Blues,[[-574.41479622 -574.41479622 -574.41479622 .....,41815,4.947090
3,Rex's Blues,[[-512.34600195 -424.60266163 -343.86911954 .....,180015,4.885397
4,Ain't Leavin' Your Love,[[-535.73021322 -535.73021322 -535.73021322 .....,6978,5.000000
...,...,...,...,...
1123,On The West Cork Hack,[[-575.79289141 -575.79289141 -575.79289141 .....,74,5.000000
1124,Frosty Mornings,[[-577.03865726 -577.03865726 -577.03865726 .....,7631,5.000000
1125,Donnybrook Fair,[[-592.59467027 -592.59467027 -592.59467027 .....,12459,4.965218
1126,Strings In The Earth And Air,[[-629.80582204 -629.80582204 -629.80582204 .....,23061,4.906433
1127,A Tale Of Two Orphanages,[[-585.59150802 -585.59150802 -585.59150802 .....,5754,4.885714

In [12]:
d19_21=pd.read_csv('songs(19k-21k)-f.csv')

In [13]:

d19_21=d19_21.drop(['Unnamed: 0','Unnamed: 0.1','Unnamed: 0.1.1','Unnamed: 0.1.1.1','Unnamed: 0.1.1.1.1'],axis=1)
d19_21

,title,MFCCs,views,rating
0,Roy Rogers,[[-630.73503592 -630.73503592 -630.73503592 .....,3552,5.000000
1,Noel Hill's,[[-516.46001347 -516.46001347 -516.46001347 .....,285,4.500000
2,My Irish Molly-O,[[-450.77296005 -450.77296005 -450.77296005 .....,183432,4.822095
3,Maggie,[[-607.95851025 -607.95851025 -607.95851025 .....,427,5.000000
4,Henry Joy,[[-634.35040018 -629.23805963 -628.38856396 .....,366,2.600000
...,...,...,...,...
1839,Meet Me On The Corner (Live),[[-656.24024816 -656.24024816 -656.24024816 .....,53417,4.889362
1840,Court In The Act,[[-578.34511622 -578.34511622 -578.34511622 .....,1658,4.500000
1841,Meet Me On The Corner,[[-656.24024816 -656.24024816 -656.24024816 .....,53417,4.889362
1842,Nothing But The Marvellous Is Beautiful (2003 ...,[[-581.19358578 -581.19358578 -581.19358578 .....,1014,4.333334
1843,Goodbye (2005 Digital Remaster),[[-516.0316629 -516.0316629 -516.0316629 ... -...,629,5.000000

In [14]:
d2=[d18_19,d19_21]
d18_21=pd.concat(d2)

In [15]:
d18_21.to_csv('d18_21.csv')

In [16]:
d21_24=pd.read_csv('songs(21k-24k)-f.csv')

In [17]:
d21_24=d21_24.drop(['Unnamed: 0','Unnamed: 0.1','Unnamed: 0.1.1','Unnamed: 0.1.1.1'],axis=1)
d21_24

,title,MFCCs,views,rating
0,In A Dream,[[-651.76894402 -651.76894402 -638.98586712 .....,115101,4.812367
1,Raven In The Storm,[[-552.14523059 -552.14523059 -552.14523059 .....,7166,4.875000
2,Donegal Breeze,[[-526.36226072 -526.36226072 -526.36226072 .....,73295,4.876923
3,Looking Forward,[[-595.51926529 -595.51926529 -595.51926529 .....,101,5.000000
4,All That Hammering,[[-549.30092756 -549.30092756 -549.30092756 .....,190,5.000000
...,...,...,...,...
3153,Thinking Out Loud,[[-530.48481127 -530.48481127 -530.48481127 .....,258095,4.875969
3154,Hold Heart,[[-502.15020427 -502.15020427 -502.15020427 .....,17810,4.916666
3155,Beggars Prayer,[[-519.14921579 -519.14921579 -519.14921579 .....,435304,4.940565
3156,Big Jumps,[[-492.03716412 -492.03716412 -492.03716412 .....,1949531,4.883435
3157,Gun,[[-515.00511478 -515.00511478 -143.40281897 .....,445164,4.964365

In [18]:
d21_24.to_csv('d21_24.csv')

In [19]:
d24_26=pd.read_csv('songs(24k-26k)-f.csv')

In [20]:
d24_26=d24_26.drop(['Unnamed: 0','Unnamed: 0.1','Unnamed: 0.1.1','Unnamed: 0.1.1.1'],axis=1)
d24_26

,title,MFCCs,views,rating
0,The Triangle,[[-558.88117241 -558.88117241 -558.88117241 .....,59704,4.948718
1,The Sounds Of Laughter,[[-573.3326265 -573.3326265 -573.3326265 ... -...,162065,4.916042
2,Abolish Government / Silent Majority,[[-5.50821988e+02 -5.37771369e+02 -4.97886231e...,273470,4.889085
3,In My Head,[[-545.39213905 -545.39213905 -545.39213905 .....,10885,4.947712
4,Dreamer (Album Version),[[-531.52512937 -531.52512937 -531.52512937 .....,14593,4.837838
...,...,...,...,...
3228,You Killed My Baby,[[-493.43664691 -493.43664691 -489.29233391 .....,894,4.090909
3229,An Angel Cry,[[-515.66733491 -515.66733491 -515.66733491 .....,3007,4.932203
3230,This Song,[[-540.94276418 -540.94276418 -495.96830886 .....,1985,5.000000
3231,Too Young To Die,[[-553.42473983 -553.42473983 -553.42473983 .....,21633,4.952381
3232,Oh No,[[-549.78744307 -549.78744307 -549.78744307 .....,2400,5.000000

In [21]:
d26_27=pd.read_csv('songs[26k-27k).csv')
d26_27

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,title,MFCCs,views,rating
0,0,0.0,0.0,0.0,The Triangle,[[-558.88117241 -558.88117241 -558.88117241 .....,59704,4.948718
1,1,1.0,1.0,1.0,The Sounds Of Laughter,[[-573.3326265 -573.3326265 -573.3326265 ... -...,162065,4.916042
2,2,2.0,2.0,2.0,Abolish Government / Silent Majority,[[-5.50821988e+02 -5.37771369e+02 -4.97886231e...,273470,4.889085
3,3,3.0,3.0,3.0,In My Head,[[-545.39213905 -545.39213905 -545.39213905 .....,10885,4.947712
4,4,4.0,4.0,4.0,Dreamer (Album Version),[[-531.52512937 -531.52512937 -531.52512937 .....,14593,4.837838
...,...,...,...,...,...,...,...,...
3161,3161,NaN,NaN,NaN,Drive Your Car (Grovesnor's Rebel Quarter Vers...,[[-4.57913408e+02 -4.57913408e+02 -4.57913408e...,1253872,4.862114
3162,3162,NaN,NaN,NaN,Drive Your Car (Hot Chip Remix),[[-480.75530396 -480.75530396 -480.75530396 .....,93713,4.910891
3163,3163,NaN,NaN,NaN,Find A Way To Stop Him,[[-5.22225929e+02 -5.22225929e+02 -5.22225929e...,2058,5.000000
3164,3164,NaN,NaN,NaN,I Heard Violins,[[-480.66176644 -480.66176644 -480.66176644 .....,886677,4.918380
3165,3165,NaN,NaN,NaN,Dan,[[-598.7533171 -598.7533171 -598.7533171 ... -...,45694,4.776286

In [22]:
d26_27=d26_27.drop(['Unnamed: 0','Unnamed: 0.1','Unnamed: 0.1.1','Unnamed: 0.1.1.1'],axis=1)
d26_27

,title,MFCCs,views,rating
0,The Triangle,[[-558.88117241 -558.88117241 -558.88117241 .....,59704,4.948718
1,The Sounds Of Laughter,[[-573.3326265 -573.3326265 -573.3326265 ... -...,162065,4.916042
2,Abolish Government / Silent Majority,[[-5.50821988e+02 -5.37771369e+02 -4.97886231e...,273470,4.889085
3,In My Head,[[-545.39213905 -545.39213905 -545.39213905 .....,10885,4.947712
4,Dreamer (Album Version),[[-531.52512937 -531.52512937 -531.52512937 .....,14593,4.837838
...,...,...,...,...
3161,Drive Your Car (Grovesnor's Rebel Quarter Vers...,[[-4.57913408e+02 -4.57913408e+02 -4.57913408e...,1253872,4.862114
3162,Drive Your Car (Hot Chip Remix),[[-480.75530396 -480.75530396 -480.75530396 .....,93713,4.910891
3163,Find A Way To Stop Him,[[-5.22225929e+02 -5.22225929e+02 -5.22225929e...,2058,5.000000
3164,I Heard Violins,[[-480.66176644 -480.66176644 -480.66176644 .....,886677,4.918380
3165,Dan,[[-598.7533171 -598.7533171 -598.7533171 ... -...,45694,4.776286

In [23]:
d24_27=[d24_26,d26_27]

In [27]:
df253_26=pd.read_csv('song(25.5-26k-f).csv')
df253_26=df253_26.drop('Unnamed: 0',axis=1)
df253_26

,title,MFCCs,views,rating
0,Soma,[[-438.47547444 -438.47547444 -438.47547444 .....,1492931,4.848926
1,Word Problems,[[-453.90844901 -453.90844901 -453.90844901 .....,853758,4.823653
2,Careless (Acoustic),[[-5.77028078e+02 -5.77028078e+02 -5.77028078e...,4711,4.866667
3,8bit,[[-545.56101901 -545.56101901 -545.56101901 .....,12629,4.984962
4,Try Again,[[-529.6614725 -529.6614725 -529.6614725 ... -...,54759,4.929824
...,...,...,...,...
428,Tonight Was A Disaster (Live),[[-483.64042807 -483.64042807 -483.64042807 .....,1434,5.000000
429,Bobby Malone Moves Home (Live),[[-4.53138777e+02 -4.53138777e+02 -4.02140748e...,1762,5.000000
430,It Wasn't The Same Somehow (Live),[[-4.48919024e+02 -7.21643389e+01 4.61967958e...,434,5.000000
431,Bobby Malone Moves Home,[[-535.971913 -535.971913 -535.971913 ... -535...,72506,4.970149
432,Don't They Have Payphones Wherever You Were La...,[[-4.99102194e+02 -4.98732539e+02 -4.94994221e...,1231,4.288889

In [28]:
c=pd.read_csv('song(20.5-21k).csv')

In [30]:
df205_21

,Unnamed: 0,title,MFCCs,views,rating
0,0,NO LIGHTED WINDOWS,[[-525.93549826 -525.93549826 -523.70244123 .....,516,4.750000
1,1,NOT THAT BAD/BLINDERS ON,[[-4.64798186e+02 -4.07399577e+02 -3.55112191e...,157,3.000000
2,2,HELLO...GOODBYE,[[-538.48004472 -538.48004472 -536.62199182 .....,1911,4.913043
3,3,ROSES NEVER RED,[[-5.13646268e+02 -5.13646268e+02 -5.11533815e...,177,3.666667
4,4,I SAY NOTHING,[[-524.87458551 -523.91760654 -522.27982157 .....,181,2.500000
...,...,...,...,...,...
580,580,The Holy Ground,[[-6.02402842e+02 -6.02402842e+02 -6.02402842e...,10806,5.000000
581,581,Soul Sister,[[-598.16294159 -598.16294159 -598.16294159 .....,321,2.333333
582,582,Gabriel,[[-539.45323817 -539.45323817 -539.45323817 .....,7566,4.840000
583,583,A Stone's Throw From The Soul,[[-556.15707099 -556.15707099 -556.15707099 .....,5951,5.000000
584,584,Free As Stone,[[-553.96092349 -553.96092349 -553.96092349 .....,149,5.000000

In [32]:
df205_21=df205_21.drop('Unnamed: 0',axis=1)

In [34]:
df205_21

,title,MFCCs,views,rating
0,NO LIGHTED WINDOWS,[[-525.93549826 -525.93549826 -523.70244123 .....,516,4.750000
1,NOT THAT BAD/BLINDERS ON,[[-4.64798186e+02 -4.07399577e+02 -3.55112191e...,157,3.000000
2,HELLO...GOODBYE,[[-538.48004472 -538.48004472 -536.62199182 .....,1911,4.913043
3,ROSES NEVER RED,[[-5.13646268e+02 -5.13646268e+02 -5.11533815e...,177,3.666667
4,I SAY NOTHING,[[-524.87458551 -523.91760654 -522.27982157 .....,181,2.500000
...,...,...,...,...
580,The Holy Ground,[[-6.02402842e+02 -6.02402842e+02 -6.02402842e...,10806,5.000000
581,Soul Sister,[[-598.16294159 -598.16294159 -598.16294159 .....,321,2.333333
582,Gabriel,[[-539.45323817 -539.45323817 -539.45323817 .....,7566,4.840000
583,A Stone's Throw From The Soul,[[-556.15707099 -556.15707099 -556.15707099 .....,5951,5.000000
584,Free As Stone,[[-553.96092349 -553.96092349 -553.96092349 .....,149,5.000000

In [35]:
df_r=[df205_21,df253_26]
df_rem=pd.concat(df_r)

In [36]:
df_rem

,title,MFCCs,views,rating
0,NO LIGHTED WINDOWS,[[-525.93549826 -525.93549826 -523.70244123 .....,516,4.750000
1,NOT THAT BAD/BLINDERS ON,[[-4.64798186e+02 -4.07399577e+02 -3.55112191e...,157,3.000000
2,HELLO...GOODBYE,[[-538.48004472 -538.48004472 -536.62199182 .....,1911,4.913043
3,ROSES NEVER RED,[[-5.13646268e+02 -5.13646268e+02 -5.11533815e...,177,3.666667
4,I SAY NOTHING,[[-524.87458551 -523.91760654 -522.27982157 .....,181,2.500000
...,...,...,...,...
428,Tonight Was A Disaster (Live),[[-483.64042807 -483.64042807 -483.64042807 .....,1434,5.000000
429,Bobby Malone Moves Home (Live),[[-4.53138777e+02 -4.53138777e+02 -4.02140748e...,1762,5.000000
430,It Wasn't The Same Somehow (Live),[[-4.48919024e+02 -7.21643389e+01 4.61967958e...,434,5.000000
431,Bobby Malone Moves Home,[[-535.971913 -535.971913 -535.971913 ... -535...,72506,4.970149
432,Don't They Have Payphones Wherever You Were La...,[[-4.99102194e+02 -4.98732539e+02 -4.94994221e...,1231,4.288889

In [38]:
df_rem.to_csv('drem.csv')